<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/registrations" method="post">
        <h1>Sign Up Below:</h1>
        Name: <input type="text" name="name">
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        <input type="submit" value="Sign Up">
    </form>
  </body>
</html>

